header{
    display: flex;
    justify-content: space-between;
    background-color: #e09070;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

img:hover{
    transform: scale(1.08);
}
 
nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition-duration: .3s;
}

a:hover{
    color: #67e0c8;
}

a::before{
    content: "";
    background-color: #5CAD9D;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a.button{
    display: inline-block;
    align-items: baseline;
    background-color: #5CAD9D;
    height: 60px;
    line-height: 60px;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 200ms cubic-bezier(0.28, 2.48, 0.48, 2.25);
    box-shadow: 5px 5px 0px #000000;;
}
a.button:hover{
    background-color: #7de2ce;
    color: #2a695d;
    transform: scale(1.05);
}
