.section{
    position: relative;
    background-color: #df8767;
    width: 100%;
    height: 650px;
    border-top: 10px solid rgb(51, 51, 51);
    border-bottom: 10px solid rgb(51, 51, 51);
    box-sizing: border-box;
}